extends layout 

block content 
    h1= title 

    ul 
        each book in book_list 
            li 
                a(href=book.url, style="text-decoration:none") #{book.title} (#{book.author.name})
        else 
            li There are no books.

